html {
    height: 100%;    
}

body * {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 0px;
    color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100%;
    background-image: linear-gradient(to bottom, #0066ff, #ddffdd);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

#content {
    display: flex;
    flex: 0 1 auto;
    width: 800px;
    padding: 12px;
    flex-direction: column;
    gap: 12px
}

#choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.choice {
    padding: 12px;
    border-radius: 12px;
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 0px #000000, -2px 0px #000000, 0px 2px #000000, 0px -2px #000000;
    cursor: pointer;
}

#rock {
    border: none;
    background-color: #554455;
    background-image: linear-gradient(to bottom, #554455, #443344);
}

#paper {
    border: none;
    background-color: #ddddbb;
    background-image: linear-gradient(to bottom, #ddddbb, #ddccaa);
}

#scissors {
    border: none;
    background-color: #bbcccc;
    background-image: linear-gradient(to bottom left, #ffffff, #bbcccc, #bbcccc);
}

#rock:hover, #paper:hover, #scissors:hover {
    background-image: none;
    border: none;
    background-color: #ffffff;
    color: #000000;
    text-shadow: none;
    scale: 1.15;
    transition: 0.3s;
}

#rounds {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.25);
}

.roundDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.roundMessageDisplay {
    padding: 12px;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

img {
    width: 70px;
    height: 70px;
    border: 2px solid #ffffff;
    border-radius: 12px;
}

#gameInfo {
    display: flex;
    align-items: center;
    gap: 24px;
}

#human, #computer {
    flex: 2;
    font-size: 35px;
    text-shadow: 2px 0px #000000, -2px 0px #000000, 0px 2px #000000, 0px -2px #000000;
}

#scoreDisplay {
    flex: 5;
    padding: 20px;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #002222, #003333);
    text-align: center;
    font-size: 36px;
    color: #ffffff;
}